// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";
@import "./admin/dashboard";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}


//Navbar container (make space for user entries bar)
nav .container  {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.user-sign-up-container form {
  display: flex;
  flex-direction: column;
}


